<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

        <property name="hibernate.connection.provider_class">
            org.hibernate.hikaricp.internal.HikariCPConnectionProvider
        </property>

        <property name="hibernate.hikari.maximumPoolSize">10</property>
        <property name="hibernate.hikari.idleTimeout">30000</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <mapping class="com.mkx.ranked.model.PlayerEntity"/>
        <mapping class="com.mkx.ranked.model.MatchEntity"/>
        <mapping class="com.mkx.ranked.model.SeasonEntity"/>
        <mapping class="com.mkx.ranked.model.SeasonHistoryEntity"/>
    </session-factory>
</hibernate-configuration>